{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Add User - {{ parent() }}
{% endblock %}

{% block body %}

<h3>Add New User</h3>


<div class="well">

  {{ form(form) }}

</div>

{% endblock %}

