{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Admin Data - {{ parent() }}
{% endblock %}

{% block body %}

<h3>Get Admin Data</h3>

<pre>
<div class="well" name="admin_data">

{{ admindata }}

</div>
</pre>
{% endblock %}


