{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Traceback Data - {{ parent() }}
{% endblock %}

{% block body %}

<h3>Get Traceback Data</h3>

<pre>
<div class="well" name="traceback_data">

{{ tracebackdata }}

</div>
</pre>
{% endblock %}


