{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Normalize Data - {{ parent() }}
{% endblock %}

{% block body %}

<h3>Normalize Data</h3>


<div class="well">

  Data have been normalized

</div>

{% endblock %}

