{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Index - {{ parent() }}
{% endblock %}

{% block body %}

<h3>Add Data</h3>


<div class="well" name="admin_data">

  {{ form(form) }}

</div>

{% endblock %}


